.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgb(36, 133, 42), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(139, 26, 26, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0; }


/* 

sksugreen - rgb(30, 123, 36)
sksulightgreen - rgb(115, 229, 63);

*/